.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 20px 20%;
  background-color: rgba(var(--color-one), 0.3);

  font-size: large;
  font-family: var(--font-mono);
}

.navOption {
  display: flex;
  align-self: center;
  font-weight: 600;
  height: 100%;
}

.navOption:hover {
 color: rgba(var(--color-four), 0.8);
}
