.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto 60px auto;
}

.nameInfo {
  flex-direction: column;
}

.nameInfo h1{
  color: rgba(var(--color-one));
}

.profilePic {
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 0px 10px white;
}

@media only screen and (max-width: 700px) {
  .container {
    max-width: 400px;
  }
  .nameInfo{
    margin-right: 0;
  }
  .nameInfo h1{
    font-size: larger;
  }
  .nameInfo span{
    font-size: smaller;
  }
  .profilePic {
    width: 80px;
    height: 80px;
  }
}
