.title {
  width: fit-content;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(var(--color-three));
  margin: 20px auto 20px 0;
  color: rgba(var(--color-one));
}

.timelineItems {
  align-self: flex-start;
}

.timelineItems span {
  font-weight: bold;
  margin-right: 10px;
  color: rgba(var(--color-one));
}

.timelineItems b {
  color: rgba(var(--color-one));
}

.timelineItems p {
  margin-bottom: 10px;
  font-weight: 400;
}