.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  margin: 0;
  padding: 20px 20%;
  background-color: rgba(var(--bg-zero), 0.2);

  font-size: large;
  font-family: var(--font-mono);
}


@media only screen and (max-width: 700px) {
  .wrapper {
    justify-content: flex-end;
    padding: 10px 10px;
    margin: 0 0 20px auto;
    background-color: rgba(var(--bg-zero), 0);

    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
  }
}