.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  margin: 0;
  padding: 20px 20%;
  background-color: rgba(var(--bg-zero), 0.2);

  font-size: large;
  font-family: var(--font-mono);
}

.navOption {
  display: flex;
  align-self: center;
  font-weight: 600;
  height: 100%;
  color: rgba(var(--color-one));
}

.navOption:hover {
 color: rgba(var(--color-two), 1);
}
