:root {
  --color-one: #cad2c5;
  --color-two: #84a98c;
  --color-three: #52796f;
  --color-four: #354f52;
  --color-five: #2f3e46;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-two);
}

a {
  color: inherit;
  text-decoration: none;
}