:root {
  --color-green-one: #cad2c5
  --color-green-two: #84a98c
  --color-green-three: #52796f
  --color-green-four: #354f52
  --color-green-five: #2f3e46

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #84a98c;
}

a {
  color: inherit;
  text-decoration: none;
}